{{!-- This page that will load after user login --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand pt-0 pb-0" href="/"><img src="/styles/img/logo1.jpg" alt="HTML5 Icon"
            style="width:100px;height:80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userProfile">Your Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addItem">Add New Item</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>


<div id="home">
    <div class="container row col-12 justify-content-center">
        <h3>Item That User Clicked</h3>
    </div>
    <div class="container row col-12 text-justify">
        <div class="col-2">

        </div>
        <div class="col-4 float-right ">
            <div class=" row col-4 badge badge-info"><b>Title</b></div>
            <div class="col-10">{{item.title}}</div>
            <div class="row col-4 badge badge-info "><b>Description:</b> </div>
            <div class="col-10">{{item.description}}</div>
            <div class="row col-4 badge badge-info"><b>Price: </b> </div>
            <div class="col-10"><span>$</span>{{item.price}}</div>
            <div class=" row col-4 badge badge-info"><b>Seller Contact Info:</b> </div><br>
            <div class="col-10" id="sellerInfo">{{item.sellerContact}} <button class="btn btn-info" data-clipboard-target="#sellerInfo">
                    Copt Seller Info
                </button></div>
        </div>
        <div class="col-6">
            <div class="container row col-5 "><img src="{{item.image}}" style="width:250px;height:250px;"></div>
        </div>
    </div>
</div>